a {
  font-weight: 500 !important;
  text-decoration: none !important;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 4px;
    background: lightgray;
    transition: all 0.3s linear;
  }
  &:hover {
    color: lightgray !important;
  }
  &.active {
    &::after {
      width: 100%;
    }
  }
}